.program-item {
  display: flex;
  flex-direction: column;
}

.program-item.right {
  align-self: flex-end;
  text-align: right;
}

.program-item.left {
  text-align: left;
  align-self: flex-start;
}

.program-item h2 {
  color: var(--color-white) !important;
  font-size: 2rem !important;
  margin-bottom: 0rem !important;
}

.program-item p {
  margin-top: 0;
  font-size: 1rem !important;
  color: var(--color-white) !important;
}

@media (max-width: 768px) {
  .program-item.right,
  .program-item.left {
    transform: translateX(0);
    align-self: center;
  }
}
